<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/dist/styles.css">
    <script src="/js/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playfair+Display&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:wght@400;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <!--Side bar-->
        <div class="sidebar">
            <div class="sidebar-header">
                <img class="icon-1" src="/images/Logo (1).svg" alt="">
                <img class="icon-2" src="/images/Knowlee.svg" alt="">
                <img class="icon-3" src="/images/collapse-icon.svg" alt="">
            </div>

            <nav>
                <ul>
                    <li>
                        <img src="/images/dashboard-icon.svg" class="sidebar-icon" alt="">
                        <span>Dashboard</span>
                    </li>
                    <li>
                        <img src="/images/notes-icon.svg" class="sidebar-icon" alt="">
                        <span>My Notes</span>       
                    </li>
                    <li class="blue-bordered-list-item">
                        <img src="/images/ai-tools-icon.svg" class="sidebar-icon ai-tools-icon" alt="">
                        <Span>AI Tools</Span>  
                        <img src="/images/caret-right.svg" alt="">      
                    </li>
                    <li>
                        <img src="/images/settings-icon.svg" class="sidebar-icon" alt="">
                        <span>Settings</span>
                    </li>
                    <li class="blue-bordered-list-item">
                        <img src="/images/profile-icon.svg" class="sidebar-icon profile-icon" alt="">
                        <span>Profile</span>
                    </li>
                    <li>
                        <button>
                            <img src="/images/log-out-icon.svg" class="logout-icon" alt="">
                            <span>Log Out</span>
                        </button>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="main-section">
            
            <div class="header">
                <div class="searchbar">
                    <input type="search" class="search-input" placeholder="Search">
                    <img class="search-icon" src="/images/search-icon.svg" alt="">
                </div>

                <div class="header-icons-container">
                    <div class="block-1">
                        <img src="/images/notifications-icon.svg" class="header-icon" alt="">
                        <img src="/images/plus-icon.svg" class="header-icon" alt="">
                    </div>
                    <div class="block-2">
                        <img src="/images/premium-icon.svg" class="header-icon" alt="">
                        <span>GPTs</span>
                        <img src="/images/caret-right.svg" class="caret-icon" alt="">
                    </div>

                </div>
            </div>

            <div class="content-container">
                <div class="columns-wrapper">
                    <div class="left-column">
                     <!-- File Viewer -->
                     <iframe id="fileViewer" src="" width="100%" height="100%"></iframe>

                    </div>
                    <div class="right-column">
                        <div class="grid-item-1">

                        </div>
                        <div class="grid-item-2">
                            <div class="ai-tool-options">
                                <button>Summarize</button>
                                <button>Generate Flashcards</button>
                                <button>Generate Quiz</button>
                            </div>

                            <div 
                            class="chatbox-container">
                                <textarea type="text" placeholder="Write your message here..." class="chat-input"></textarea>
                                <div class="block-1">
                                    <img src="/images/bill-icon.svg" class="bill-icon chat-input-icon" alt="">
                                    <img src="/images/plus-icon.svg" class="chat-input-icon">
                                </div>
                                <div class="block 2">
                                    <img src="/images/send-icon.svg" class="send-icon chat-input-icon" alt="">
                                </div>
                
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
    
 
    <script>
        
        // Function to set iframe source based on URL
        function setIframeSrc() {
            const pathname = window.location.pathname;
            const filename = pathname.substring(pathname.lastIndexOf('/') + 1);
            console.log(filename);
            document.getElementById('fileViewer').src = `../../../uploads/${filename}`;
        }

         // Call the function to set iframe source on page load
         window.onload = setIframeSrc;


    </script>
</body>
</html>