@use '../util/' as *;

.header{
    background-color: var(--white);
    height: 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: rem(26) rem(25);
    border-bottom: 1px solid var(--border-blue);

    .searchbar{
        background-color:var(--light-grey);
        width: max-content;
        display: flex;
        align-items: center;
        padding: rem(8);
        border-radius: rem(16);
    }
    .search-input{
        font-size: rem(14);
        color: var(--grey-text);
        margin-right: rem(14);
        margin-left: rem(7);
        outline: none;
        border: none;
        background: transparent;
    }
    .search-icon{
        width: rem(14);
        height: rem(14);
    }
    .header-icons-container{
        display: flex;
        align-items: center;
        
        .block-1{
            display: flex;
            gap: rem(20);
            padding: rem(10) rem(14);
            border-right: 1px solid var(--border-blue);
            margin-right: rem(20);
        }
        .block-2{
            background-color: var(--light-grey);
            display: flex;
            align-items: center;
            gap:rem(10);
            border-radius: rem(16);
            padding: 0 rem(15) ;
            height: rem(28);

            span{
                color: var(--grey-text);
                font-size: rem(12);
            }

            .caret-icon{
                margin-left: rem(20);
            }
        }
        

    }
    .header-icon{
        width: rem(18);
        height: rem(20);
    }
}