@use '../util/' as *;

.content-container{
    background-color: var(--background);
    width: 100%;
    height: 91%;
    padding-top: rem(35);
    padding-left: rem(25);
    padding-right: rem(25);
    padding-bottom: rem(25);

    
}
.columns-wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: rem(20);
    background-color: var(--background);
    width: 100%;
    height: 100%;

}
.left-column{
    background-color: var(--white);
    border-radius: rem(16);
}
.right-column{
    display: grid;
    background-color: var(--white);
    grid-template-rows: 75% 20%;
    grid-template-columns: 1fr;
    border-radius: rem(16);
    padding-left: rem(18);
    padding-right: rem(18);

    .chatbox{
        overflow-y: auto;
        overflow-x: hidden; 
        display: flex;
        flex-direction: column;
        height: 60vh;
        width: 100%; 
        padding-bottom: rem(20);

        .chat{
            margin-top: rem(20);
        }
        .bot-message{
            max-width: 85%;
            display: flex;

            .response-icon{
                height: rem(35);
                width: rem(35);
            }

            p{
                background-color: #85c1f8;
                margin-bottom: 0;
                margin-left: rem(5);
                padding-left: rem(10);
                padding-top: rem(5);
                padding-bottom: rem(5);
                padding-right: rem(10);
                border-radius: 0px 10px 10px 10px;
                font-size: rem(15);
                line-height: 1.6;
            }
        }
        .human-message{
            max-width: 85%;
            align-self: flex-end;
            margin-right: rem(15);;

            p{
                background-color: var(--background);
                margin-bottom: 0;
                padding-left: rem(10);
                padding-top: rem(5);
                padding-bottom: rem(10);
                padding-right: rem(10);
                border-radius: 10px 10px 0 10px;
                font-size: rem(15);
                line-height: 1.5;
            }
        }
    }
    .grid-item-2{
        border-top: 1px solid var(--border-blue);

        .ai-tool-options{
            margin-top: rem(15);
            margin-right: rem(18);
            margin-bottom: rem(10);
            display: flex;
            gap: rem(8);
        }
        button{
            font-size: rem(12);
            color: var(--grey-text-2);
            background-color: var(--background);
            font-weight: 200;
            border-radius: rem(12);
            padding: rem(6) rem(10);
            border: none;
        }
    }

    .userInput-container{
        background-color: var(--background);
        display: flex;
        align-items: center;
        padding: rem(6) rem(18);
        border-radius: rem(14 );

        .chat-input{
            background-color: transparent;
            width: 100%;
            outline: none;
            resize: none;
            font-size: rem(14);
            border:none;
        }
        textarea::placeholder {
            font-size: rem(12);
            font-family: "Plus Jakarta Sans", sans-serif;
            color: var(--grey-text-2);
          }
        .block-1{
            display: flex;
            gap: rem(10);
            padding: rem(10) rem(14);
            border-right: 1px solid var(--border-blue);
            margin-right: rem(10);
            align-items: center;
        }
        .block-2{
            background-color: var(--light-grey);
            display: flex;
            border-radius: rem(16);
            height: rem(28);
        }
    }

    .chat-input-icon{
        width: rem(19);
        height: rem(19);
    }
    .bill-icon{
        width: rem(22);
        height: rem(22);
    }
    .send-icon{
        width: rem(24);
        height: rem(24);
        margin-top: rem(4);
    }
    
        
}

//Upload page(up) styles 
.upload-page-main-container{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}
.up-content-container{
    background-color: var(--white);
    width: rem(400);
    height: rem(300);
    border-radius: rem(10);
   

    .box-1{ //contains top group of elements in the drag and drop box
   
        width: 65%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: rem(20) rem(0);
        margin-top: rem(40);
        border: 2px dotted var(--grey-text);
        border-radius: rem(10);
        
        img{
            width: rem(35);
        }
        p{
            color: var(--dark-grey);
            font-size: rem(14);
            font-weight: bold;
            text-align: center;
        }
        .custom-file-upload{
            color: var(--white);
            background-color: var(--button-blue);
            border: none;
            border-radius: rem(4);
            padding: rem(6) rem(20);
            cursor: pointer;
            font-size: rem(14);
        }
        span{
            font-size: rem(12);
            margin-top: rem(8);
            margin-left: rem(8);
            margin-right: rem(8);
            text-align: center;
        }
      
    }

    .box-2{//contains bottom group of elements in the drag and drop box
        width: 65%;
        margin: rem(20) auto;
        font-size: rem(14);
        color: var(--dark-grey);

        p{
            text-align: center;
        }
    }
}