:root{
    --background: #dededf;
    --black-text: #000000;
    --grey-text: #6B6B6B; 
    --white: #FFFFFF;
    --main-blue: #3A52EE;
    --border-blue: rgba(58, 82, 238, 0.3);
    --button-blue: rgba(58, 82, 238, 0.7);
    --light-grey:#F5F5F5;
    --grey-text-2:#9DA4A3;
    --dark-grey: #242424;
}
